/* Soil Site Content Boxes (nat_hazards)
----------------------------------------------- */

.nat_hazards-search-left, .nat_hazards-site-left {
    float: left;
    width: 60%;
}

.nat_hazards-search-right, .nat_hazards-site-right {
    float: right;
    width: 48%;
}

.nat_hazards-content-top, .nat_hazards-content-media, .nat_hazards-content-box, .nat_hazards-content-links {
    background-color: #feffeb;
    margin-bottom: 20px;
    border: 1px solid #ededed;
    border-radius: 5px;
    width: 100%;
}

.nat_hazards-content-top h3, .nat_hazards-content-media h3, .nat_hazards-content-box h3, .nat_hazards-content-links h3 {
    color:#542437;
    padding:0;
    margin:10px;
    text-align: left;
}

.nat_hazards-content-top p, .nat_hazards-content-media p, .nat_hazards-content-box p, .nat_hazards-content-links p {
    color:#542437;
    padding:0;
    padding-left: 10px;
    padding-right: 10px;
}

.nat_hazards-content-top {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nat_hazards-accordion-title-1, .nat_hazards-accordion-title-2, .nat_hazards-accordion-title-3, .nat_hazards-accordion-title-4, .nat_hazards-accordion-title-5, .nat_hazards-accordion-title-6, .nat_hazards-accordion-title-7 {
    border:1px solid;
    border-radius: 5px;
    color:#EEE;
    margin-bottom: 2px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.nat_hazards-accordion-title-1 {
    background: #326931;
}

.nat_hazards-accordion-title-2 {
    background: #4b6f4a;
}

.nat_hazards-accordion-title-3 {
    background: #515c49;
}

.nat_hazards-accordion-title-4 {
    background: #4c4d3e;
}

.nat_hazards-accordion-title-5 {
    background: #3d3d32;
}

.nat_hazards-accordion-title-6 {
    background: #36362c;
}

.nat_hazards-accordion-title-7 {
    background: #292922;
    margin-bottom: 20px;
}

.nat_hazards-accordion-pane-1, .nat_hazards-accordion-pane-2 {
    margin-bottom: 10px;
    border:1px solid #ededed;
    border-radius: 5px;
    background-color: #feffeb;
    padding: 10px;
    overflow: hidden;
}

.nat_hazards-accordion-pane-2 {
    margin-top: -18px;
    margin-bottom: 20px;
}

.nat_hazards-content-media {
    text-align: center;
    padding-bottom: 20px;
}

.nat_hazards-content-links {
}


/* Soil Site Google Maps Display Div (nat_hazards)
----------------------------------------------- */

#googft-mapCanvas img { max-width: none; box-shadow: none; }

/* Filter Box (nat_hazards)
----------------------------------------------- */

.nat_hazards-filter {
    text-align: center;
    width: 100%;
    background: #feffeb;
    border: 1px solid #ededed;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.nat_hazards-filter #filter-left {
    display:inline-block;
    padding:0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    vertical-align: middle;
}


.nat_hazards-filter #filter-left h3 {
    color:#777777;
    padding:0px;
    margin:0px;
}

.nat_hazards-filter #filter-middle {
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 4px;
}

.nat_hazards-filter #filter-right {
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
}

.nat_hazards-filter #filter-right input {
    padding:5px;
}

/* Search Boxes (nat_hazards)
----------------------------------------------- */

.nat_hazards-search-box {
    width: 100%;
    overflow: hidden;
    background: #feffeb;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 10px;
}
.nat_hazards-search-box p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


/* Search Results Tabs (nat_hazards)
----------------------------------------------- */

#nat_hazards-tabs #menu-wrap {
    text-align: center; 
}

#nat_hazards-tabs #menu-wrap ul {
    margin: 0px;
}

#nat_hazards-tabs #menu-wrap li {
    display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em;
    padding: 0px;
    margin-bottom: -1px;
    border: 1px solid #ededed;
    border-bottom: 0px;
    border-radius: 5px 5px 0 0;
    background-color: #353b17;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    *display: inline;
    zoom: 1;
}

#nat_hazards-tabs #menu-wrap li a {
    padding: 10px;
    color: #dddddd;
    text-decoration: none;
    text-align: center; 
}

#nat_hazards-tabs #menu-wrap li a:hover {
    color: white;
    text-decoration: none;
}

#nat_hazards-tabs #menu-wrap .ui-state-active {
    background-color: #feffeb;
}

#nat_hazards-tabs #menu-wrap .ui-state-active a {
    color: #000000;
}

#nat_hazards-tabs #menu-wrap .ui-state-active a:hover {
    color: black;
}

#nat_hazards-tabs .nat_hazards-tabs-pane {
    border: 1px solid #ededed;  
    border-radius: 5px;
    background-color: #feffeb;
    padding: 10px 10px;
    display: block;
}

#nat_hazards-tabs #map, #nat_hazards-tabs #list {
    height: 550px;
    overflow: scroll;
}

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (max-width: 600px) {
    
    /* Search (nat_hazards) (wide)
    ----------------------------------------------- */

    .nat_hazards-search-left {
    float: none;
    width: 100%;
    }

    .nat_hazards-search-right {
    float: none;
    width: 100%;
    }
    
    /* Site (nat_hazards) (wide)
    ----------------------------------------------- */
    
    .nat_hazards-site-left {
    float: none;
    width: 100%;
    }
    
    .nat_hazards-site-right {
    float: non;
    width: 100%;
    }
}